

#createArticleContainer {
    margin: 0 auto;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center; 
}

#createArticleContainer form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.leadStoryContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0.5rem 0;
}

.leadStoryContainer label {
    font-size: 0.7rem;
    margin-left: 1rem;
}

#h3_add {
    color: var(--accent-color);
    margin-bottom: 20px;
    font-size: 1rem;
    margin: 0;
}

textarea{
    border : 1px solid #2A2A2A;
    margin: 0.5rem 0;
    padding: 0.5rem;
    width: 100%;
    border-radius: 0.5rem;
}
.input1{
    border : 1px solid #2A2A2A;
    margin: 0.5rem 0;
    padding: 0.5rem;
    width: 100%;
    border-radius: 0.5rem;
    /* width: 90%;
    padding: 10px;
    border: 1px solid #999;
    border-radius: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center; */
}

input[type="file"] {
    margin: 0.5rem 0;
}

textarea {
    min-height: 200px;
}

.mediaTypeContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0.5rem 0;
    font-size: 0.8rem;
}

.mediaTypeContainer input {
    margin-right: 0.2rem;
}

.mediaTypeContainer label {
    margin-right: 1rem;
}

button {
    background-color: #7E3086;
    color: white;
    border: none;
    padding: 1rem;
    width: 100%;
    margin-top: 1rem;
    border-radius: 0.5rem;
    margin-bottom: 6rem;
    /* width: 90%;
    margin: 30px auto;
    height: 60px;
    background-color: var(--accent-color);
    color: white;
    font-weight: bold;
    border-radius: 10px;
    border: 1px solid var(--accent-color); */
}